includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: tmp\phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
